allow system_server lineage_data_file:file r_file_perms;
allow system_server app_zygote:process getpgid;

dontaudit system_server default_android_hwservice:hwservice_manager find;
dontaudit system_server sysfs:file read;
